

* {
	box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #1A1A1A;
}
h1 {
  color: #FFBA49;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  padding-left: 20px;
}

button {
  cursor: pointer;
}

.titulo-secundario {
  color: #F5F5F5;
}