

* {
	box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.cookie-banner > div:last-child {
  width: 100%;
  display: flex;
  justify-content: center;
}

button#rcc-decline-button, button#rcc-confirm-button {
  margin-top: 0px !important;
}