#contenido_principal{
    /* display: flex; */
    border: solid #F5F5F5 2px;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    min-height: 500px;
    text-align: left;
}