#pie {
    text-align: right;
    font-size: small;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    border: 2px solid #F5F5F5;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

#pie > img {
    width: 75px;
}
