/* PasosMultiples.css */

/* Contenedor principal */
.form-container {
    width: 600px;    
    max-width: 100%;   
    padding-left: 1.5rem;    
    padding-right: 1.5rem;  
    padding-top: 0.25rem;   
    padding-bottom: 0.25rem; 
    margin-left: auto;       
    margin-right: auto;     
    border: 2px solid #FFBA49;  
    background-color: #f5f5f5;
    border-radius: 0.5rem;  
  }
  

  .steps-section {
    margin-top: 0.5rem;   
    margin-bottom: 1rem;  
    display: flex;        
    justify-content: space-between;
  }
  
  /* Círculo para cada paso */
  .step-circle {
    width: 2rem;               
    height: 2rem;             
    display: flex;             
    align-items: center;       
    justify-content: center;   
    border: 2px solid #FFBA49; 
    border-radius: 9999px;    
    cursor: pointer;          
    transition: all 0.3s;     
  }
  .step-circle:hover {
    transform: scale(1.1);  
    background-color: #07BEB8;
  }
  

  .step-circle.active {
    background-color: #07BEB8; 
    color: #f5f5f5;         
  }
  