.navegacion__menu {
    display: flex;
    width: 100%;
    text-align: left;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #F5F5F5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    
}

.navegacion__links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;

    padding: 10px;
    border-radius: 4px;
}

.navegacion__enlace {
    display: flex;
    place-items: center;
    justify-content: center; 
    min-width: 120px;
    height: 40px;
    /* background-color: rgb(255, 255, 255); */
    color: rgb(255, 255, 255);
    border: white solid 1px;
    border-radius: 3px;
    font-weight: bolder;
    padding: 0px 10px;
    margin: 0px 10px;
}

.navegacion__enlace:hover, .navegacion__cuenta:hover {
    /* background-color: rgb(216, 214, 214); */
    border-color: #6320EE;
    color: white;
} 

.navegacion__cuenta {
    border: white solid 1px;
    border-radius: 3px;
    padding: 16px 10px 10px;
    margin: 0px 10px;
}

.icon__user {
    font-size: 28px;
    color: white;
}

.navegacion__logo {
    display: flex;
    gap: 10px;
}

.titulo__logo{
    display: flex;
    flex-direction: column;
}

.titulo__logo > span {
    color: #FFF400;
}

.navegacion__logo img{
    width: 50px;
}

