
.lista-campo {
    font-weight: bold;
    color: #FFBA49;
}

.lista-campo input {
    background-color: #1a1a1a;
    color: #be9dff;
    font-style: bold;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #6320EE;
    box-shadow: 1px 1px 0 #6320EE,
    2px 2px 0 #6320EE,
    3px 3px 0 rgba(0,0,0,0.2);
    margin-left: 10px;
    margin-bottom: 10px;
}

.lista-campo input::placeholder  {
    color: #be9dff;
}

.lista-alimento-seleccionados {
    border: 3px solid #FFBA49;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.lista-alimento-seleccionados h3 {
    margin: 5px 0px 5px 0px;
}
.lista-alimento-seleccionados img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid #1a1a1a;
}

.alimento-seleccionado {
    border: 3px solid #FFBA49;
    background-color: #07BEB8;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 0 #f5f5f5,
    4px 4px 0 #f5f5f5,
    6px 6px 0 #FFBA49;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.2s;
}
.alimento-seleccionado p {
    text-align: center;
}
.alimento-seleccionado:hover {
    transform: scale(1.02);
}
.alimento-seleccionado-botones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
}
.alimento-seleccionado-botones button {
    width: 25px; /* Asegura un ancho igual a la altura */
    height: 25px; /* Define la altura igual al ancho */
    border-radius: 50%; /* Hace que el botón sea un círculo */
    padding: 5px;
    border: 3px solid #FFBA49;
    background-color: #f5f5f5;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px; /* Tamaño del texto dentro del botón */
    cursor: pointer;
}

.alimento-seleccionado-botones button:hover {
    box-shadow: 1px 1px 0 #f5f5f5,
    2px 2px 0 #f5f5f5,
    3px 3px 0 #FFBA49;
    transform: scale(1.1);
}

.crear-btn {
    background-color: #FFBA49;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #6320EE;
    border:3px solid #6320EE;
    transition: all 0.3s;
    box-shadow: 2px 2px 0 #6320EE,
    4px 4px 0 #6320EE,
    6px 6px 0 rgba(0,0,0,0.2);
}
.crear-btn:hover {
    background-color: #6320EE;
    transform: scale(1.1);
    color: #FFBA49;
    border:3px solid #FFBA49;
    box-shadow: 1px 1px 0 #FFBA49,
    2px 2px 0 #FFBA49,
    6px 6px 0 rgba(0,0,0,0.2);
}