#contenedor-inicio {
    background-color: #6520ee70;
    border-radius: 1rem;
    padding: 3rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}
#contenedor-inicio h2 {
    color: #07BEB8;
    font-size: 18px;
    font-weight: normal;
}

#contenedor-inicio p {
    color: #F5F5F5;
}
#contenedor-inicio button {
    position: relative;
    font: inherit;
    background-color: #1A1A1A;
    border: none;
    color: #FFF;
    border-radius: 0.5em;
    font-size: 1.5rem;
    padding: 0.5em 1em;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  
  #contenedor-inicio button:hover {
    background-color: #FFBA49;
    color: #1A1A1A;
    transform: translateY(-0.125em);
  }
  
  #contenedor-inicio button:active {
    background-color: #FFBA49;
    transform: translateY(0.125em);
  }
  
iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-color: #FFBA49;
}