#main-footer {
    border-top: 2px #F5F5F5 solid;
    position: relative;
    width: 100%;
    bottom: 0px;
}

#main-footer ul {
    list-style-type: none;
    padding: 0px;
}

#main-footer h3{
    color:  #FFBA49;
}

#main-footer li {
    
    padding: 8px 0px;
    font-size: small;
    
}

#main-footer a{
    text-decoration: none;
    transition: color 0.5s;
    color: #F5F5F5;
}

#main-footer a:visited{
    color: #F5F5F5;
}

#main-footer a:hover{
    color: #07beb8;
    text-decoration: underline;
    text-decoration-color: #FFBA49;
}

#main-footer {
    gap: 20px;
}

#main-footer iframe {
    
    
    width: 90%;
    height: 80%;
}