.item-redes {

    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.item-redes:hover {
    transform: scale(1.05); /* Hace crecer el contenedor */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Más sombra al hacer hover */
    background: #6520ee70; /* Fondo dinámico */
}

.redes-icono {
    font-size: 1.2em;
    padding: 0.2em 0.5em;
    border-radius: 10px;
    color: #F5F5F5;
    transition: color 0.3s ease, transform 0.3s ease;
}