.productos-editar {
    margin: 1rem;
    text-align: center;
}

.productos-editar > div:nth-child(2) {
    width: 100%;
}

.productos-editar div:nth-child(2) table > thead > tr{
    background-color: rgba(0, 0, 255, 0.3);
}

.productos-editar div:nth-child(2) table > tbody > tr{
    background-color: rgba(0, 0, 255, 0.05);
}

.productos-editar div:nth-child(2) table > tbody > tr:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}