.lista-filtros {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin: 1.8rem 1rem 1rem;
    padding-left: 100px;
}

.lista-filtros button{
    margin: 0.5rem;
}

.lista-filtros div:not(:last-child) {
    display: flex;
    align-items: center;
}

.lista-filtros div > input {
    width: 100%;
}

.lista-filtros h3 {
    margin-top: 4.5rem;
}