footer {
    border: solid #259463 2px;
    border-radius: 4px;
    margin-top: 15px;
    padding: 10px 10px 10px 15px;
    width: 100%;

}

footer p span {
    background-color: rgba(185, 255, 168, 0.15);
}
